<launch>
    
    <!-- use your path -->
    <arg name="data_seq" default="Riverside01"/>
    <param name="seq_dir" type="string" value="$(find yeti)/data/MulranDataset/$(arg data_seq)/" />
    
    <node pkg="yeti" type="yetiOdom" name="yetiOdom" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find yeti)/rviz/yeti_pgo_rviz.rviz" />
    </group>

</launch>
